<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ section.title | safe }}</title>
    <style>
        /* Basic Reset */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            line-height: 1.6;
            color: #333;
            background-color: #f4f4f4;
            padding: 20px;
        }

        header {
            background: #21893e;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }

        header h1 {
            margin: 0;
        }

        main {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background: #fff;
            border-radius: 8px;
        }

        h2 {
            color: #21893e;
            border-bottom: 1px solid #eaeaea;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }

        h3 {
            color: #21893e;
            border-bottom: 1px solid #eaeaea;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }

        ul {
            list-style: none;
        }

        ul li {
            background: #f4f4f4;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 8px;
        }

        a {
            color: #21893e;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        footer {
            text-align: center;
            padding: 20px;
            background: #21893e;
            color: #fff;
        }

        @media (max-width: 600px) {
            main {
                padding: 15px;
            }
        }
    </style>
</head>
<body>
    <header>
        <h1>Welcome to My Personal Website</h1>
    </header>
    <main>
        <section>
            <h2>About Me</h2>
            <p>Hello! I'm Junhan Xu, a software developer passionate about creating innovative solutions to complex problems. This website showcases some of my projects and thoughts on technology, programming, and beyond. Feel free to explore and reach out if you're interested in collaborating or learning more.</p>
        </section>
        <section>
            <h2>Projects</h2>
            <p>Below you'll find a list of my projects, each with a brief description and a link for more details.</p>
            <!-- Projects will be added here -->
            <ul>
                <li>
                    <h3>Rust AWS Lambda Function with API Gateway Integration</h3>
                    <p>This project contains a Rust-based AWS Lambda function designed to process data and respond to HTTP requests, integrated with AWS API Gateway.</p>
                    <a href="https://gitlab.oit.duke.edu/jx139/ids721-mini-project-2">View Project</a>
                </li>
                <li>
                    <h3>AWS CDK S3 Bucket Creation with Versioning and Encryption</h3>
                    <p>This repository contains code for creating an Amazon S3 bucket with versioning enabled and encryption using the AWS Cloud Development Kit (AWS CDK). AWS CodeWhisperer was utilized to help generate some of the CDK code for this project.</p>
                    <a href="https://gitlab.oit.duke.edu/jx139/ids721-mini-project-3">View Project</a>
                </li>
                <li>
                    <h3>Rust Actix Web Service</h3>
                    <p>This project is a simple web service built with Rust and the Actix web framework. It demonstrates how to containerize a Rust Actix application using Docker for easy deployment and scaling.</p>
                    <a href="https://gitlab.oit.duke.edu/jx139/ids721-mini-project-4">View Project</a>
                </li>
                <li>
                    <h3>Serverless Rust Microservice for AWS Lambda and DynamoDB</h3>
                    <p>This project demonstrates a serverless microservice built with Rust, designed to run on AWS Lambda and interact with AWS DynamoDB. It provides a simple backend service that can receive JSON payloads, process data, and perform operations on a DynamoDB table.</p>
                    <a href="https://gitlab.oit.duke.edu/jx139/ids721-mini-project-5">View Project</a>
                </li>
            </ul>
        </section>
        <section>
            <h2>Contact</h2>
            <p>Interested in collaborating or have questions? Feel free to <a href="jx139@duke.edu">reach out to me</a>.</p>
        </section>
    </main>
    <footer>
        <p>Thank you for visiting my website!</p>
    </footer>
</body>
</html>